<!DOCTYPE html>
<html>
  <head>
    <title>Remitano</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
   
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= javascript_include_tag "application-main", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="d-flex flex-column h-100">
    <%= render 'layouts/header' %>

    <main class="mx-auto max-w-7xl items-center justify-between p-6 lg:px-8">
      <%= yield %>
    </main>

    <%= render 'layouts/footer' %>
  </body>
</html>



