<body class="antialiased bg-gray-200 text-gray-900 font-sans">
  <div class="flex items-center w-full">
    <div class="w-full bg-white rounded shadow-lg p-8 m-4 md:max-w-sm md:mx-auto">
      <span class="block w-full text-xl uppercase font-bold mb-4">Sign up</span>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "mb-4") do |f| %>
        <div>
            <%= render "users/shared/error_messages", resource: resource %>
        </div>
        <div class="mb-4 md:w-full">
          <%= f.label :email, class: "block text-xs mb-1" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full border rounded p-2 outline-none focus:shadow-outline", placeholder: "Username or Email" %>
        </div>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <div class="mb-6 md:w-full">
          <%= f.label :password, class: "block text-xs mb-1" %>
          <%= f.password_field :password, class: "w-full border rounded p-2 outline-none focus:shadow-outline" %>
        </div>
        <div class="mb-6 md:w-full">
          <%= f.label :password_confirmation, class: "block text-xs mb-1" %>
          <%= f.password_field :password_confirmation, class: "w-full border rounded p-2 outline-none focus:shadow-outline" %>
        </div>
       
        <button
          class="bg-green-500 hover:bg-green-700 text-white uppercase text-sm font-semibold px-4 py-2 rounded">Sign up</button>
      <% end %>
      <%= render "users/shared/links" %>
      
    </div>
  </div>
</body>